{{ partial "header.html" . }}

<div class="container">
<main>
  <div class="list">
{{ range .Site.Sections }}
<section class="article-list">
  <div class="categories">
  {{ with .Params.categories }}
  {{ range first 1 . }}
    <a href="{{ relURL (print "/categories/" . | urlize) }}">{{ . }}</a>
  {{ end }}
  {{ else }}
    <a>{{ default "Uncategorized" .Site.Params.text.uncategorized }}</a>
  {{ end }}
  </div>
  <div class="summary">
    <a href="{{ .RelPermalink }}">
    {{ with .Resources.GetMatch (printf "%s" .Params.thumbnail) }}
    <div class="thumbnail"><img src="{{ relURL .Permalink }}" alt="Thumbnail" /></div>
    {{ else }}
    {{ with  .Params.thumbnail }}
    <div class="thumbnail"><img src="{{ relURL .}}" alt="Thumbnail" /></div>
    {{ else }}
    {{ $img := findRE "<img src=\"[^\"]+\"" .Content 1 }}
    {{ range $img }}
    <div class="thumbnail">{{ (print . " alt=\"Thumbnail\" />") | safeHTML }}</div>
    {{ end }}
    {{ end }}
    {{ end }}
    </a>
  </div>
  <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
  <div class="date-author">
    <span class="date">{{ .Date.Format "01/2006" }}</span>
  </div>
</section>
{{ end }}
  </div>

{{ .Content }}

</main>
<nav>{{ template "_internal/pagination.html" . }}</nav>
</div>

{{ partial "footer.html" . }}
